<!-- 
  Snippet showing how to verify custom rules are loaded in the Wazuh Manager config.
  Location: /var/ossec/etc/ossec.conf (on the SIEM Manager VM)
-->

<ossec_config>
  <ruleset>
    <!-- Default rules -->
    <decoder_dir>ruleset/decoders</decoder_dir>
    <rule_dir>ruleset/rules</rule_dir>
    <rule_exclude>0215-policy_rules.xml</rule_exclude>
    <list>etc/lists/audit-keys</list>
    <list>etc/lists/amazon/aws-eventnames</list>
    <list>etc/lists/security-eventchannel</list>

    <!-- User-defined rules directory -->
    <decoder_dir>etc/decoders</decoder_dir>
    
    <!-- This is the directory where our 3 custom rules go -->
    <rule_dir>etc/rules</rule_dir>
  </ruleset>
</ossec_config>
